:root{
  --brown: #856965;
  --white: #3a1f17;
  --blue: rgb(0,4,236);
}

body{
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light{
  --background-color: var(--white);
  --text-color: black;
  --font-weight: 400
}

body.dark{
  --background-color: var(--brown);
  --text-color: var(--blue);
  --font-weight: 500
}